body{
    background-color: #F9DAF2;
    font-family: calibri, century gothic, sans-serif;
    margin: 0;
}

.container{
    padding: 1rem;
}

.icon-wsp{
    width: 100%;
    max-width: 47px;
    height: 47px;
    padding: 5px;
    position: fixed; 
    right: 30px; 
    bottom: 30px;
}

/*Cabecera*/
header{
    background-color: #FAE9F7 ;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
} 

header img{
    width: 100%;
    max-width: 150px;
    height: 130px;  
    display: flex;
    align-self: center;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

header li img{
    width: 100%;
    max-width: 40px;
    height: 40px;
    padding: 5px;  
}
header li{
    list-style: none;

}

header a{
    text-decoration: none;
}

header h1{
    color: #7A220F;
    font-size: 2.5rem;
    display: flex;
    align-self: center;
}

/*navegacion*/
nav ul{
    background-color: #FAE9F7 ;
    border: 6px #7A220F ridge;
    border-radius: 1px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li{
    list-style: none;
    padding: 0.5rem;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
}

nav a:hover{
    background-color: #F9DAF2;
    padding: 0.5rem;
}

/*Receta*/
.lore{
    width: 80%;
    text-align: center;
}

.lore h1{
    color: #7A220F;
    font-size: 1.8rem;
}


section h2{
    text-decoration: underline;
}

/*Mapa y video*/
aside{
    width: 20%;
}

aside iframe{
    margin-bottom: 16px;
    border: 0;
}

/*flexbox*/
.contenedor-flex{
    display: flex;
    justify-content: space-around;
}

/*Pie de pagina*/

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
}

footer p a{
    font-weight: bold;
    color: #000;
}

footer p a:hover{
    color: rgb(56, 54, 54);
}

footer p{
    display: flex;
    align-self: flex-end;
}

footer img{
    width: 100%;
    max-width: 40px;
    height: 40px;
    padding: 5px;  
}
