body{
    background-image: url(imagenes/fondonigiri.jpg);
    font-family: calibri, century gothic, sans-serif;
}

.container{
    background-color: #F9DAF2;
    padding: 1rem;
}

/*Encabezado*/
header{
    background-color: #FAE9F7 ;
    text-align: center;
    border: 8px #7A220F ridge;
}

header h1{
    color: #7A220F;
    font-size: 2.5rem;
}

.navegation ul{
    padding: 0;
}

.navegation li{
    list-style: none;
}

.navegation a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
}

.navegation a:hover{
    background-color: #F9DAF2;
    padding: 0.5rem;
}

/*Articulo "lore"*/
article{
    text-align: center;
}

article h1{
    color: #7A220F;
    font-size: 1.8rem;
    text-decoration: underline;
}

/*Receta*/
section h2{
    text-decoration: underline;
}

/*Mapa y video*/
aside{
    text-align: center;
}

aside iframe{
    display: inline-block;
    width: 100%;
    max-width: 450px;
    height: 250px;
    padding: 8px;
    border: none;
}

/*Pie de pagina*/
footer li{
    list-style: none;
    display: inline-block;
}

footer a{
    text-decoration: none;
}

footer img{
    width: 100%;
    max-width: 40px;
    padding: 5px;  
}


